/META.yml
/MYMETA.*
/blib/
business-truelayer-credentials.json
ec512-private-key.pem
ec512-public-key.pem
/inc/
/pm_to_blib
/MANIFEST.bak
/Makefile
/Makefile.old
*.old
*.swp
~$
/Business-TrueLayer*tar.gz
cover_db
*.html
.DS_Store
test.json
debug.txt
